## Calculus

This Jupyter Notebook througout Pandas allows you from initial capital, annual saving, saving years, and expected average annual returns to obtain a dataframe report year after year of capital with interests, the cumulative capital without interests, the difference (only interests), and the annual saving income.
It is possible to change the annual saving after the years previously specified, if you plan to change your investments in future.

In [1]:
import pandas as pd

In [2]:
def report(c, ai1, p1, ai2, p2, aar) :
    """
    Generate a pandas dataframe with columns: 'Year', 'Capital', 'Cumulative', 'Yeld', 'Annual Income'
    
    Parameters:
    c = initial capital 
    ai1 = initial annual saving 
    p1 = period for first annual saving (Years)
    ai2 = second annual saving 
    p2 = period for second annual saving (Years)
    aar = average annual return (%)
    """
    df = pd.DataFrame(columns=['Year', 'Capital', 'Cumulative', 'Yeld', 'Annual Income'])
    cumulative = c
    year = 0
    start = {'Year': year, 'Capital': c, 'Annual Income':c, 'Cumulative':c, 'Yeld':0}
    df.loc[0] = start
    for i in range(1, p1+1) :
        year += 1
        investment = ai1 + (df.iloc[-1,1]*(1+aar/100)).round(2)
        cumulative = cumulative + ai1
        yeld = investment - cumulative
        
        n = {'Year': year, 'Capital': investment, 'Cumulative':cumulative, 'Yeld': yeld, 'Annual Income':ai1}
        df.loc[len(df)] = n

    if(p2 != 0):
        for i in range(1, p2+1) :
            year += 1
            investment = ai2 + (df.iloc[-1,1]*(1+aar/100)).round(2)
            cumulative = cumulative + ai2
            yeld = investment - cumulative
            
            n = {'Year': year, 'Capital': investment, 'Cumulative':cumulative, 'Yeld': yeld, 'Annual Income':ai2}
            df.loc[len(df)] = n

    return df

In [3]:
def insert_input(message, complete, flag_float):
    """
    Insert a float number and return it
    """
    complete = False
    while not complete:
        try:
            value = float(input(message)) if flag_float else int(input(message))
            complete = True
            return value
        except ValueError:
            print("Sorry, Not a valid Number, please, retry.")

In [4]:
def interesting_calculus():
    """
    Start input request to generate a report about compound interest
    """
    complete = False
    while not complete:
        start_capital = insert_input('Insert initial capital', complete, True)
        annual_investment1 = insert_input('Insert annual investment', complete, True)
        investment_period1 = insert_input('Insert investment period (Years)', complete, False)
        average_annual_return = insert_input('Insert average annual return (%)', complete, True)
        flag = input('Prevision to change after? (Y/N)').upper()
        if (flag == 'Y'):
            annual_investment2 = insert_input('Insert annual investment (2nd)', complete, True)
            investment_period2 = insert_input('Insert investment period (Years) (2nd)', complete, False)
        else:
            annual_investment2 = 0
            investment_period2 = 0
        complete=True
    
    return report( start_capital, annual_investment1, investment_period1, annual_investment2, investment_period2, average_annual_return )

In [5]:
interesting_calculus()

Insert initial capital 5000
Insert annual investment 1800
Insert investment period (Years) 5
Insert average annual return (%) 4
Prevision to change after? (Y/N) y
Insert annual investment (2nd) 3000
Insert investment period (Years) (2nd) 10

    Year   Capital  Cumulative      Yeld  Annual Income
0      0   5000.00      5000.0      0.00         5000.0
1      1   7000.00      6800.0    200.00         1800.0
2      2   9080.00      8600.0    480.00         1800.0
3      3  11243.20     10400.0    843.20         1800.0
4      4  13492.93     12200.0   1292.93         1800.0
5      5  15832.65     14000.0   1832.65         1800.0
6      6  19465.96     17000.0   2465.96         3000.0
7      7  23244.60     20000.0   3244.60         3000.0
8      8  27174.38     23000.0   4174.38         3000.0
9      9  31261.36     26000.0   5261.36         3000.0
10    10  35511.81     29000.0   6511.81         3000.0
11    11  39932.28     32000.0   7932.28         3000.0
12    12  44529.57     35000.0   9529.57         3000.0
13    13  49310.75     38000.0  11310.75         3000.0
14    14  54283.18     41000.0  13283.18         3000.0
15    15  59454.51     44000.0  15454.51         3000.0